*{
	margin: 0;
	padding: 0;
	list-style: none;
}
html,body{
	width: 100%;
	height: 100%;
	background-color: white;
}
body{
	min-width: 1200px;
	font-family: Arial, "Microsoft YaHei";
}
a{
	text-decoration: none;
}